/* RESET IMG */
img{
    max-width: 100%;
}
/* commons  */
/* classe per il padding bottom */
.padding-bt{
    padding-bottom: 1rem;
}
/* classe per il padding top */
.padding-tp{
    padding-top: 1rem;
}
.text-center{
    text-align: center;
}
/* classe per l'header */
.header{
    background-color: #2C3E50 ;
    color: white;
    position: fixed;
    z-index: 1;
}
/* classe per il container dell'header */
.header-cont{
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
/* classe per l'hero */
.hero{
    background-color: #1ABC9C;
    padding: 2rem;
    color: white;
}
/* classe per l'immagine */
.img-cont{
    width: 200px;
    height: 200px;
    padding-bottom: 1rem;
}
/* classe per il main */
.main{
    margin-top: 2rem;
}
/* classe per il container del main */
.main-cont{
    max-width: 70%;
    margin: 0 auto;
}
/* classe per il colore del titolo del main */
.tit-main h3{
    color: #2C3E50;
}
/* classe per arrotondare i bordi  dell'immagine */
.arr{
    border-radius: 10px;
}
/* classe per la sezione about */
.about-section{
    background-color: #1ABC9C;
    color: white;
    margin-top: 1rem;
}
/* classe per il container del contenuto della sezione about */
.cont-about{
    max-width: 60%;
    margin: 0 auto;
    text-align: left;
    font-size: 1.2rem;
}
/*  classe per il container del bottone*/
.button-down{
    margin-top: 2rem;
    padding-bottom: 2rem;
}
/* classe per il bottone */
.button{
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: inherit;
    border: 1px solid white;
    border-radius: 5px;
}
/* classe per il container dei contatti */
.cont-contact{
    max-width: 50%;
    margin: 0 auto;
    text-align: left;
}
/* classe per il titolo dei contatti */
.tit-contact{
    color: #2C3E50;
}
/*classe per la lista dei contatti  */
.list-contact ul{
    list-style-type: none;
}
/* id per indicare il testo della lista */
#text{
    font-size: 1.2rem;
    color: #2C3E50;
    font-weight: 500;
}
/* id per indicare l'area di testo */
#area{
    border-style: inset;
    border-width: 0;
    border-bottom: 1px solid #2C3E50;
}
/* classe per il bottone per inviare */
.button-send{
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 5px;
    background-color: #1ABC9C;
}
/* id per indicare il bottone della lista */
#button{
    margin-top: 1rem;
}
/* classe per il container del footer */
.cont-footer{
    background-color: #3A546D;
}
/* classe per il container dei contatti */
.cont{
    max-width: 60%;
    margin: 0 auto;
    color: white;
}
/* classe per la lista dei social */
.cont ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}
/* classe per il cerchio attorno al social */
.circle{
    padding: 1rem 1rem;
    border-radius: 50%;
    border: 1px solid white;
}
/* classe per il link dentro il testo */
.cont a{
    text-decoration: none;
    color: #1ABC9C;
}
/* classe per la parte del copyright */
.copy{
    color: white;
    background-color: #2C3E50;
    padding: 2rem;
}